* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.slick-next:before,
.slick-prev:before {
    font-size: 2.3rem !important;
    border: 1px solid #076BFF !important;
    border-radius: 50%;
    color: transparent !important;
    position: absolute;
    left: -7px;
    top: -7px;
}

@media screen and ( max-width: 767px ) {
    .slick-next:before,
    .slick-prev:before {
        font-size: 1.8rem !important;
        left: -7px;
        top: -7px;
    }

    .slick-next,
    .slick-prev {
        width: 15px;
        height: 15px;
    }

    .slick-next {
        right: 2rem !important;
    }

    .slick-prev {
        left: 1.2rem !important;
    }
}

@media screen and ( max-width: 575px ) {
    .slick-next:before,
    .slick-prev:before {
        font-size: 1.5rem !important;
        left: -6px;
        top: -6px;
    }

    .slick-next,
    .slick-prev {
        width: 12px;
        height: 12px;
    }

    .slick-next {
        right: 1.8rem !important;
    }

    .slick-prev {
        left: 1rem !important;
    }
}

@media screen and ( max-width: 424px ) {
    .slick-next:before,
    .slick-prev:before {
        font-size: 1.3rem !important;
        left: -5px;
        top: -5px;
    }

    .slick-next,
    .slick-prev {
        width: 10px;
        height: 10px;
    }

    .slick-next {
        right: 1rem !important;
    }

    .slick-prev {
        left: 0.7rem !important;
    }
}


.slick-next,
.slick-prev {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    z-index: 2;
}

.slick-prev {
    transform: rotate(135deg);
    left: 1.4rem ;
}

.slick-next {
    right: 2.2rem ;
    transform: rotate(-45deg);
}


.ui-accordion .ui-accordion-header {
    border-radius: 10px;
    background: #076BFF;
    color: #FFFFFF;


}

.arrDown {
    position: absolute;
    top: calc(50% - 8px);
    right: 28px;
}

.ui-state-active .arrDown {
    rotate: 180deg !important;
}
